*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    margin-top: 2rem;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
    color: rgb(219, 25, 25);
    cursor: pointer;
}

.box:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

#Restbtn,
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#msg{
    font-size: 5vmin;
    color: #ffffc7;
}

.hide{
    display: none;
}
